.main-menu {
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#37586b", endColorStr="#1c4f6a");
}
#main-menu li a {
	padding: 48px 8px 12px;
}
#main-menu li.active a, #main-menu li:hover a {
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#aa2d2b", endColorStr="#b03433");
}
.accordeon .accordeon-item.open .bar {
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#2f2f2f", endColorStr="#171717");
}
.details {
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#646f7f", endColorStr="#646f7f");
}