/*** General style defined ****/
a {
	text-decoration: none;
}
h1 {

}
h2 {
	font-family: $primary-font;
	font-weight: 300;
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
h3 {
	font-family: $primary-font;
	font-weight: 300;
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 0.9375em;
}

/*** General Style Classes ****/
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.hide {
  display: none;
}
.red {
	color: $red;
}
.orange {
	color: $orange;
}
.no-js {
	color: $red;
	margin-top: 1em;
	font-size: 16px;
}
.promoted {
	color: white !important;
}
.scroll-x {
 	overflow-x: auto;
}
.scroll-y {
 	overflow-y: auto;
}
/**** Reset Style ****/
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

img {
  display: inline-block;
  vertical-align: middle;
}

/*** (12) GRID SYSTEM ***/
.row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 56.250em;
}
.row:before, .row:after {
	content: " ";
	display: table;
}
.column {
	position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
}
.small-12 {
	width: 100%;
}
.small-4 {
	width: 33.33333%;
}
@media only screen and (min-width: 40.063em) {
	.medium-4 {
    	width: 33.33333%;
  	}
}
@media only screen and (min-width: 64.063em) {
	.large-4 {
    	width: 33.33333%;
  	}
}
.show-for-small-only, .hide-for-medium-only, .hide-for-medium-up, .hide-for-large-only, .hide-for-large-up {
    display: inherit !important;
  }

.hide-for-small-only, .show-for-medium-only, .show-for-medium-up, .show-for-large-only, .show-for-large-up {
   display: none !important;
}
@media only screen and (min-width: 40.063em) {
	.show-for-small-only, .hide-for-medium-only, .hide-for-medium-up, .hide-for-large-only, .hide-for-large-up {
		display: none !important;
	}

	.hide-for-small-only, .show-for-medium-only, .show-for-medium-up, .show-for-large-only, .show-for-large-up {
    	display: inherit !important;
  	}
}
@media only screen and (min-width: 64.063em) {
	 .show-for-small-only, .hide-for-medium-only, .hide-for-medium-up, .hide-for-large-only, .hide-for-large-up {
		display: none !important;
	}

	.hide-for-small-only, .show-for-medium-only, .show-for-medium-up, .show-for-large-only, .show-for-large-up {
    	display: inherit !important;
  	}
}