/* General style */
body {
  background: $orange;
  color: #d1d7e0;
  padding: 0;
  margin: 0;
  font-family: $font, serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

main {
  background: white;
  color: #161616;
}
.main-container {
  @include box-shadow(#A34305 0px 0px 22px);
}
/** Header style **/
#logo {
  width: 250px;
  height: 115px;
  display: block;
  font-size: 0;
  position: absolute;
  z-index: 999;
  @include border-radius(0 0 10px 10px); 
  background: #fff url(../images/logo.png) no-repeat center;

  a {
    display: block;
    height: 100%;
  }
}

header {
  height: 80px;
  font-family: $bold-font;
  z-index: 999;
  background: white;
  color: #6e6e6e;
  @include box-shadow(#444 0px 0px 19px);
  position: relative;

  .contact-box, .social-box {
    margin-top: 25px;
  }
  .contact-box {
    padding-bottom: 30px;
    background: url('../images/sprinteContact.png') no-repeat left bottom;
  }
  .social-box {
    float: right;
    li {
      float: left;
      font-size: 0;
      margin: 7px 5px 0 0;

      a {
        display: block;
        width: 24px;
        height: 24px;
        background: url('../images/socialIconsSprite.png') no-repeat 0 0;
        @include transition(background-position 300ms ease-out);
      }

      &.social-link-2 a {
        background-position: -24px 0;
      }
      &.social-link-3 a {
        background-position: -48px 0;
      }
      &.social-link-4 a {
        background-position: -72px 0;
      }     
      &.social-link-5 a {
        background-position: -96px 0;
      }  
      &.social-link-6 a {
        background-position: -120px 0;
      }

      &:hover {
        &.social-link-1 a {
          background-position:  0 -24px;
        }
        &.social-link-2 a {
          background-position: -24px -24px;
        }
        &.social-link-3 a {
          background-position: -48px -24px;
        }
        &.social-link-4 a {
          background-position: -72px -24px;
        }     
        &.social-link-5 a {
          background-position: -96px -24px;
        }  
        &.social-link-6 a {
          background-position: -120px -24px;
        }             
      }           
    }
  }
  .logo {
    height: 80px;
  }

  &.in-action {
    .contact-box, .social-box {
      margin-top: 0;
      span {
        display: none;
      }
    }
    #logo {
      background: url(../images/logo2.png) no-repeat center;
      height: 40px;
    }
  }
}
/** Main-menu style **/
.main-menu {
  height: 80px;
  @include background-image(linear-gradient(#37586b, #305e75 20%, #1c4f6a));
}
#main-menu {
  height: 100%;
  // overflow: hidden;
  li {
    float: left;
    font-size: 20px;
    font-family: $bold-font;
    position: relative;
    a {
      text-decoration: none;
      color: white;
      display: block;
      padding: 48px 13px 12px;
      position: relative;
      z-index: 100;
    }
    &.active , &:hover {
      a {
        @include background-image(linear-gradient(#aa2d2b, #cb3835 20%, #b03433));
        @include box-shadow(inset #831C1B 0px 0px 5px);
      }
      .arrow {
        display: inline-block;
        width: 31px;
        height: 30px;
        position: absolute;
        bottom: -25px;
        overflow: hidden;
        left: 50%;
        margin-left: -15px;
        z-index: 9999;
      }
      .arrow:after {
        content: "";
        width: 50px;
        height: 50px;
        background: #b03433;
        display: block;
        margin-top: -40px;
        margin-left: -10px;
        @include transform(rotate(-45deg));
        @include box-shadow(inset 0px 0px 5px 1px #922928);
      }
    }
  }
}

/** Accordeon style **/
.accordeon {
  background: #d7d7d7;
  padding: 0.5375em 0 0.5375em 0.5375em;
  overflow: hidden;
  margin-top: 0.9375em;
  @include box-shadow(inset 0px 0px 10px #b0b0b0);

  .accordeon-item {
    height: 285px;
    color: #525252;
    background: white;
    float: left;
    width: 35px;
    max-width: 695px;
    margin-right: 5px;
    @include box-shadow(0px 0px 6px #666);
    
    .bar {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 8px;

      &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        display: block;
        border-style: solid;
        border-color: transparent transparent transparent #2d2d2d;
        top: 10%;
        right: -20px;
        border-width: 0;
      }
      .bar-title {
        font-size: 14px;
        font-family: $primary-font;
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        top: 10px;
        right: 75%;
        white-space: nowrap;
        -webkit-transform: rotate(270deg);
        -webkit-transform-origin: right top;
        -moz-transform: rotate(270deg);
        -moz-transform-origin: right top;
        -ms-transform: rotate(270deg);
        -ms-transform-origin: right top;
        -o-transform: rotate(270deg);
        -o-transform-origin: right top;
        transform: rotate(270deg);
        transform-origin: right top;
      }
      .bar-number {
        font-family: $primary-font;
        position: absolute;
        bottom: 10px;
        left: 12px;
        font-size: 24px;
      }
     } 
    .acc-detail {
      display: none;
    }

    &.open {
      width: 100%;
    
      .bar {
        @include background-image(linear-gradient(#2f2f2f, #171717));
        width: 35px;
        color: white;
        float: left;

        &:after {
          border-width: 10px;
        }
      }
      .acc-detail {
        display: block;
        padding: 30px 0 30px 30px;
        width: 93%;
        float: left;
        height: 100%;
        overflow: hidden;

        p {
          max-width: 245px;
          float: left;
          font-size: 13px;
          font-family: Arial, sans-serif;
          line-height: 16px;
        }
        img {
          @include border-radius(5px);
        }
        .left {
          width: 40%;
        }
        .right {
          width: 58%;
        }
      }       
    }
  }
}

/** Details block style **/
.details {
  @include background-image(linear-gradient(#646f7f, #646f7f));
  color: white;
  margin: 0.9375em 0;
  padding-bottom: 2.5em;
  overflow: hidden;

  p {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 1em;
    color: #d1d7e0;
  }
  .read-more {
    margin-right: 1em;
    @include text-shadow(#6D7074 0px 0px 1px);
  }
}


/** Footer style **/
.footer-box {
  margin-bottom: 5em;
  .row {
    padding: 0 0.9375em;
  }
  h3 {
    color: white;
  }
  ul {
    margin-left: 0.9375em;
  }
  a {
    color: white;
    line-height: 19px;
    font-size: 12px;
    display: block;
    text-decoration: underline;
  }
}

/** Customizations **/
/** Firefox fix **/
@-moz-document url-prefix() {
  .details {
    overflow: hidden;
  }
}
/** IE 10+ fix **/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
  #main-menu li a {
    padding: 48px 8px 12px;
  }
  footer .row {
    overflow: hidden;
  }
}