#logo {
	position: static;
	margin: auto;
}
.menu-anchor {
	margin-top: 55px;
	display: block;
	overflow: hidden;
	margin-bottom: 10px;

	.link {
		margin: -3px 0 0 20px;
		color: white;
		font-family: $bold-font;
		font-size: 20px;
		float: left;
	}
	.icon {
		display: block;
		height: 0;
		width: 15px;
		line-height: 1;
		margin-left: 0;
		box-shadow: 0 0px 0 1px #FFF, 0 5px 0 1px #FFF, 0 10px 0 1px #FFF;
	}
	
}
.main-menu {
	height: auto;
	min-height: 90px;

	li {
		width: 100%;
		margin: 0px 0 15px; 

		a {
			padding-top: 12px !important;
		}
	}
}
#main-menu {
	display: none;

}

.accordeon {
	padding: 0.5375em;
	.accordeon-item {
		height: 35px;
		width: 100%;
		.bar {
			width: 100% !important;
			height: 35px;

			.bar-title {
				@include transform(none);
				position: static;
				float: right;
			}
			.bar-number {
				float: left;
				font-size: 18px;
				position: static;
			}
			&:after {
				border-color: #2d2d2d transparent transparent transparent;
				top: 100%;
				right: 50%;
			}
		}
		&.open {
			height: 400px;
			
			.acc-detail {
				width: 100%;
				padding: 20px;

				.left, .right {
					width: 100%;
				}
				img {
					width: 100%;
				}	
			}
		}
	}
}