/** Basic Styles and colors ***/

@import "compass/css3";

$orange: #ff8919;
$red: #c23635;
$grey: #717b8a;


@font-face {
  font-family: 'GaramondPremrPro';
  src: url("../fonts/GaramondPremrPro.otf");
}
@font-face {
  font-family: 'MinionPro Regular';
  src: url("../fonts/MinionPro-Regular.otf");
}


$primary-font: 'Open Sans', sans-serif;
$font: 'MinionPro Regular';
$bold-font: 'GaramondPremrPro';/** Mixins ***/
